<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541530368384-lf8mk1sjg6m0977gbjhb3q4huk3e93k5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541530368384-lf8mk1sjg6m0977gbjhb3q4huk3e93k5</string>
	<key>API_KEY</key>
	<string>AIzaSyAtectUsq5GBL2x26uVPCqozV8JZ9pqKzo</string>
	<key>GCM_SENDER_ID</key>
	<string>541530368384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mdsrmed.iStore</string>
	<key>PROJECT_ID</key>
	<string>istore-1a2d9</string>
	<key>STORAGE_BUCKET</key>
	<string>istore-1a2d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541530368384:ios:2942af6c56fca32a4ab965</string>
</dict>
</plist>